* {
    outline: 1px dashed red;
}

/* GLOBALS ======================================================================================== */
html {
    width: 100%;
    font-weight: bold;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}
            
body {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
        
.flex-container {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
}
            
a {
        text-decoration: none;
        color: black;
}
/* FIXED TOP BAR======================================================================================== */
            
#top {
    display: flex;
    position: fixed;
    justify-content: space-between;
}
            
#top>header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 5px solid black;
    background: linear-gradient(to bottom right, forestgreen, limegreen);
    display: inline-flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: auto;
    align-items: center;
    text-align: center;
}
            
/* CONTENT GLOBALS ELEMENTS====================================================================================================== */

.topPad {
    height: 10vh;
}
            
.content {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    word-break: break-word;
    justify-content: space-between;
}
            
#contentPad {
    align-content: stretch;
    margin: auto;
    padding: 1.5vw;
    display: flex;
    flex-flow: column wrap;
}
            
#content {
    display: flex;
    flex-flow: column wrap;
    overflow: none;
    justify-content: center;
    margin: auto 0;
    background: rgba(192, 192, 192, 0.3);
    padding: 2rem;
    border-radius: 1rem;
    width: 80vw;
}
            
#content::nth-child(n+1) {
    white-space: nowrap;
    word-break: break-word;
    padding: 2em;
}
            
            
.pad {
    width: 100%;
    background: black;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: 0.1vw solid rgba(0, 0, 0, 0.1);
}
            
/* CONTENT ELEMENTS====================================================================================================== */
            
#form-control {
    display: flex;
    flex-flow: column wrap;
}
/* FOOTER====================================================================================================== */
            
.footer {
    flex-shrink: 0;
    display: flex;
}
            
footer {
    display: flex;
    flex-shrink: 0;
    border-top: 0.1rem solid limegreen;
}
            
.footNav {
    align-items: center;
    align-items: space-around;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    text-align: center;
}
            
            
.footLink {
    font-family: inherit;
    margin: 0.5rem;
}
            
.footLink:nth-child(2) {
    border-radius: 50%;
    padding: 1rem;
    border: 0.1rem solid black;
}
            
.footLink:nth-child(1) {
    border: transparent;
    display: flex;
    flex-grow: 0.4;
}
            
.footLink:hover {
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

/*CSS SELECTORS =============================================================================================== */
/* 
https://css-tricks.com/almanac/selectors/



    A
        ::after / ::before
        :active
        :any-link
        Adjacent sibling
        [attribute]
    B
        :blank
    C
        :checked
        Child
        Class
    D
        :default
        :dir()
        :disabled
        Descendant
    E
        :empty
        :enabled
    F
        ::first-letter
        ::first-line
        :first-child
        :first-of-type
        :focus
        :focus-within
    G
        General sibling
    H
        :hover
    I
        :in-range
        :indeterminate
        :invalid
        :is()
        ID
    J
    K
    L
        :lang()
        :last-child
        :last-of-type
        :link
    M
        ::marker
        :matches()
    N
        :not(s)
        :nth-child
        :nth-last-child
        :nth-last-of-type
        :nth-of-type
    O
        :only-child
        :only-of-type
        :optional
        :out-of-range
    P
        ::placeholder
        :placeholder-shown
    Q
    R
        :read-write / :read-only
        :required
        :root
    S
        ::selection
    T
        :target
        Type
    U
        :user-invalid
        Universal
    V
        :valid
        :visited
    W
    X
    Y
    Z


*/